.fondo-black {
    background-color: #434242;
    color: #fff;
}
.fondo-white {
    background-color: #fff;
    color: #000;
    
}
.fondo-otro {
    background-color: #d7a3ff;
    color: #ff00b3;
    
}
